In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('icecream.csv')

In [3]:
df

                Flavor  Scoops sold Contains chocolate? Smooth or chunky?
0              Vanilla          300                  No            Smooth
1            Chocolate          450                 Yes            Smooth
2      Cookies & Cream          275                 Yes            Chunky
3  Mint Chocolate Chip          315                 Yes            Chunky
4        Fudge Brownie          375                 Yes            Chunky
5           Rocky Road          250                 Yes            Chunky

In [7]:
df = df.set_index('Flavor')

In [8]:
df

                     Scoops sold Contains chocolate? Smooth or chunky?
Flavor
Vanilla                      300                  No            Smooth
Chocolate                    450                 Yes            Smooth
Cookies & Cream              275                 Yes            Chunky
Mint Chocolate Chip          315                 Yes            Chunky
Fudge Brownie                375                 Yes            Chunky
Rocky Road                   250                 Yes            Chunky

In [10]:
df.loc[:,'Scoops sold']

Flavor
Vanilla                300
Chocolate              450
Cookies & Cream        275
Mint Chocolate Chip    315
Fudge Brownie          375
Rocky Road             250
Name: Scoops sold, dtype: int64

In [11]:
df.sample()

         Scoops sold Contains chocolate? Smooth or chunky?
Flavor
Vanilla          300                  No            Smooth

In [21]:
df.columns.get_loc('Scoops sold')

0

In [22]:
df

                     Scoops sold Contains chocolate? Smooth or chunky?
Flavor
Vanilla                      300                  No            Smooth
Chocolate                    450                 Yes            Smooth
Cookies & Cream              275                 Yes            Chunky
Mint Chocolate Chip          315                 Yes            Chunky
Fudge Brownie                375                 Yes            Chunky
Rocky Road                   250                 Yes            Chunky

In [26]:
df[(df.loc[:,'Smooth or chunky?'] == "Smooth") & (df.loc[:,'Contains chocolate?'] == "No")]

         Scoops sold Contains chocolate? Smooth or chunky?
Flavor
Vanilla          300                  No            Smooth

In [27]:
df['Scoops sold'].describe()

count      6.000000
mean     327.500000
std       73.399591
min      250.000000
25%      281.250000
50%      307.500000
75%      360.000000
max      450.000000
Name: Scoops sold, dtype: float64

In [32]:
df['Smooth or chunky?'].count()

6

In [36]:
df['Smooth or chunky?'].values

array(['Smooth', 'Smooth', 'Chunky', 'Chunky', 'Chunky', 'Chunky'],
      dtype=object)

In [37]:
df['Smooth or chunky?'].value_counts()

Chunky    4
Smooth    2
Name: Smooth or chunky?, dtype: int64

In [ ]:
df['Smooth or chunky?'].unique()